# 程序和插件的二进制文件
*.exe
*.exe~
*.dll
*.so
*.dylib

# 测试二进制文件，使用 `go test -c` 构建
*.test

# go coverage 工具的输出，特别是在使用 LiteIDE 时
*.out

# IDE 文件
.idea
.vscode
*.iml
.chat
docs

# 编译的对象文件，静态和动态库（共享对象）
*.o
*.a
*.so

